:root{
     --bg:rgb(255, 255, 255);
    --color-1:rgba(0, 0, 0, 0.30);
    --color-2:rgb(0, 0, 0, 0.50);
    --color-3:rgb(0, 0, 0, 0.70);
    --color-4:rgb(0, 0, 0);
    --bg-card:#6363630c;
}
.dark{
    --bg:rgb(0, 0, 0);
    --color-1:rgba(255, 255, 255, 0.30);
    --color-2:rgb(255, 255, 255, 0.50);
    --color-3:rgb(255, 255, 255, 0.70);
    --color-4:rgb(255, 255, 255);
    --bg-card:#121212;
}
body{
    background-color: var(--bg) !important;
}
.color-1{
    color: var(--color-1) !important;
}
.color-2{
    color: var(--color-2) !important;
}
.color-3{
    color: var(--color-3) !important;
}
.color-4{
    color: var(--color-4) !important;
}
.bg-card{
    background: var(--bg-card) !important;
}